<FilesMatch "\.(ico|pdf|flv)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
<FilesMatch "\.(xml|txt|css|js)$">
SetOutputFilter DEFLATE
Header unset Set-Cookie
Header set Cache-Control "max-age=604800, proxy-revalidate"
</FilesMatch>
<FilesMatch "\.(html|htm|php)$">
SetOutputFilter DEFLATE
Header set Cache-Control "max-age=172800, private, proxy-revalidate"
</FilesMatch>